
<div id="rating">
<span id="{{rating.ratedObject}}-stars" class="ratings">

    Did you like this article? please, rate it!

    {% for star in stars %}
        <img onmouseover="javascript: hoverStar('{{rating.ratedObject}}', {{star.pos}}, '{{imageurl}}');" onmouseout="javascript: restoreStar('{{rating.ratedObject}}');" onclick="javascript: clickStar('{{rating.ratedObject}}', {{star.pos}}, '{{imageurl}}');" border="0" src="{{imageurl}}{{star.img}}" alt="{{star.img}}"/>
    {% endfor %}
</span>
<span id="{{rating.ratedObject}}-text" class="ratings"/>
</div>