{% load comments %}

{% for blog in blogs %}
 <h2>{{ blog.title }}</h2>
        
 {% include "postinfo.html" %}
       
 {% autoescape off %} 
 {{ blog.content_html|truncatewords_html:50 }}
 {% endautoescape %}
        
 <p class="postmeta">
 <a href="{% url blog-detail blog.slug %}" class="readmore">Read more</a> |
           
 {% get_comment_count for blog as comment_count %}
 <a href="{% url blog-detail blog.slug %}#comments" class="comments">Comments ({{ comment_count }})</a> |				
 <span class="date">{{ blog.pub_date|date:"D d M Y" }}</span>	
 </p>
    
 {% empty %}
    <p>No blogs are available.</p>
 {% endfor %}
